<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img :src="imageLink" />
                        {{ this.contact.first_name+' '+this.contact.last_name }} ({{ this.contact.classification }})
                    </div>

                    <div class="panel-body">
                        <div class="contact-info col-sm-6">
                            <div class="flex">
                                <div><p class="label"><strong>ID</strong>:</p></div>
                                <div class="body">{{ this.contact.id }}</div>
                            </div>
                            <div class="flex">
                                <div><p class="label"><strong>Rating</strong>:</p></div>
                                <div class="body">{{ rating }}</div>
                            </div>
                            <div class="flex" v-if="this.contact.birthdate">
                                <div><p class="label"><strong>Birthday</strong>:</p></div>
                                <div class="body">{{ this.contact.birthdate | moment('MMM Do, YYYY') }}</div>
                            </div>
                            <div class="flex" v-if="this.contact.primary_email">
                                <div><p class="label"><strong>Email</strong>:</p></div>
                                <div class="body"><a :href="emailUrl">{{ this.contact.primary_email }}</a></div>
                            </div>
                            <div class="flex" v-if="this.contact.primary_phone">
                                <div><p class="label"><strong>Phone</strong>:</p></div>
                                <div class="body">{{ this.contact.primary_phone }}</div>
                            </div>
                            <div class="flex" v-if="this.contact.primary_address">
                                <div><p class="label"><strong>Address</strong>:</p></div>
                                <div class="body">
                                    {{ JSON.parse(this.contact.primary_address).street }}<br/>
                                    {{ JSON.parse(this.contact.primary_address).city }}, {{ JSON.parse(this.contact.primary_address).state }} {{ JSON.parse(this.contact.primary_address).zip }}
                                </div>
                            </div>
                        </div>
                        <div class="contact-info col-sm-6">
                            <div class="flex" v-if="this.contact.last4">
                                <div><p class="label"><strong>Social Security Number</strong>:</p></div>
                                <div class="body ssn">
                                    <span>{{ social }}</span>
                                    <button class="btn btn-primary btn-xs" @click="switchSSN">{{ buttonText }}</button>
                                </div>
                            </div>
                            <div class="flex" v-if="this.contact.spouse">
                                <div><p class="label"><strong>Linked Spouse</strong>:</p></div>
                                <div class="body"><a :href="spouseUrl">{{ this.contact.spouse.first_name }} {{ this.contact.spouse.last_name }}</a></div>
                            </div>
                            <div v-if="this.contact.custom_data">
                                <div class="flex" v-for="data in this.contact.custom_data">
                                    <div><p class="label"><strong>{{ data.label }}</strong>:</p></div>
                                    <div class="body">{{ data.value }}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['contact'],

        data() {
            return {
                imageLink: 'https://www.visionfinancialmarketing.com/dashboard/images/profile.png',
                spouseUrl: '',
                emailUrl: '',
                rating: '',
                social: 'XXX-XX-'+this.contact.last4,
                buttonText: 'View',
                show: false,
            }
        },

        mounted() {
            if (this.contact.photo) {
                this.imageLink = 'https://www.visionfinancialmarketing.com/dashboard/'+this.contact.photo;
            }
            if (this.contact.primary_email) {
                this.emailUrl = 'mailto:'+this.contact.primary_email;
            }
            if (this.contact.spouse) {
                this.spouseUrl = '/contacts/'+this.contact.spouse.id;
            }
            if (this.contact.rating) {
                if (this.contact.rating === 1) {
                    this.rating = 'A';
                } else if (this.contact.rating === 2) {
                    this.rating = 'B';
                } else if (this.contact.rating === 3) {
                    this.rating = 'C';
                } else if (this.contact.rating === 4) {
                    this.rating = 'D';
                } else if (this.contact.rating === 5) {
                    this.rating = 'F';
                }
            }
        },

        methods: {
            switchSSN() {
                this.show = !this.show;
                if (this.show) {
                    this.social = this.contact.ssn_full;
                    this.buttonText = 'Hide';
                } else {
                    this.social = 'XXX-XX-'+this.contact.last4;
                    this.buttonText = 'View';
                }
            }
        },

        filters: {
            //
        }
    }
</script>
