<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="far fa-fw fa-btn fa-tachometer"></i> Dashboard</div>

                    <div class="panel-body">
                        Hello {{ name }}, Welcome to your Dashboard.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                name: 'Name',
            };
        },

        mounted() {
            this.name = this.user.name;
        }
    }
</script>
