<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="far fa-user"></i>
                        Profile
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Name</label>

                                <div class="col-md-8">
                                    <input id="name" type="text" class="form-control" name="name" v-model="name">
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>

                                <div class="col-md-8">
                                    <input id="email" type="email" class="form-control" name="email" v-model="email">
                                </div>
                            </div>

                            <!-- Slack Webhook -->
                            <div class="form-group">
                                <label for="slack_webhook" class="col-md-3 control-label">Slack Webhook</label>

                                <div class="col-md-8">
                                    <input id="slack_webhook" type="text" class="form-control" name="slack_webhook" v-model="slack_webhook">
                                    <small id="slack_webhookHelpBlock" class="form-text text-muted">
                                        <a href="https://sglfinancial.slack.com/apps/new/A0F7XDUAZ-incoming-webhooks" target="_blank">Click Here</a> to create a Slack webhook. Once the link opens, choose <strong>"Privately to @xxxxxx (you)"</strong> and click the <strong>Add Incoming Webhook Integration</strong> button. Then copy your <strong>Webhook URL</strong> to paste above.
                                    </small>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary pull-right" @click.prevent="save">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                name: '',
                email: '',
                slack_webhook: '',
                data: new FormData(),
            }
        },

        created() {
            this.name = this.user.name;
            this.email = this.user.email;
            this.slack_webhook = this.user.slack_webhook;
        },

        methods: {
            /**
             * Save the form.
             */
            save() {
                axios.post('/profile/update_profile', this.gatherFormData())
                    .then(function (response) {
                        if (response.data.success) {
                            flash('Your profile has been updated.', 'success', true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error', error);
                    });
            },

            /**
             * Gather the form data for the file upload.
             */
            gatherFormData() {
                this.data = new FormData();

                var slack_webhook = this.slack_webhook ? this.slack_webhook : '';

                this.data.append('user', JSON.stringify(this.user));
                this.data.append('name', this.name);
                this.data.append('email', this.email);
                this.data.append('slack_webhook', slack_webhook);

                return this.data;
            },
        }
    }
</script>

<style>
    .checkbox-style { box-shadow: none; outline: none; }
    .checkbox-style:focus { box-shadow: none; outline: none; }
</style>
