
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,900");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body, .btn {
	font-weight: $font-weight-base;
}

label, strong {
	font-weight: 500;
}

.navbar-default {
	.navbar-brand {
		padding: 0;
		height: 60px;
		line-height: 60px;
		color: #fff;
		margin-right: 20px;

		img {
			display: initial;
			height: 50px;
		}
	}

	.navbar-nav {
		li {
			a {
				line-height: 60px;
				color: #fff;
				padding: 0 10px;
				font-weight: 300;
			}

			a:hover,
			a:focus {
				background-color: #e6680b;
				color: #fff;
			}
		}

		ul.dropdown-menu {
			padding: 0;

			.dropdown-header {
				font-weight: bold;
				margin-bottom: 5px;
				color: #4b5154;
			}

			a {
				color: initial;
				line-height: 22px;
			}

			a:hover,
			a:focus {
				background-color: initial;
				color: inherit;
			}
		}
	}
}

.panel-default {
	.panel-heading {
		color: #fff;
		font-size: 18px;

		.btn-primary.btn-reverse {
			background-color: #d5600a;
			color: #fff;
			border-color: #b35109;
		}

		.btn-primary.btn-reverse:hover {
			background-color: lighten(#d5600a, 5%);
			border-color: lighten(#b35109, 5%);
		}

		img {
			width: 50px;
			border-radius: 50%;
			border: 3px solid #fff;
		}
	}

	.panel-body {
		ul:not(.pagination) {
			list-style: none;
			display: flex;
			flex-flow: row wrap;

			li {
				flex: 50%;
				margin-bottom: 10px;

				a {
					text-transform: capitalize;
					font-size: 18px;

					img {
						width: 80px;
						border-radius: 50%;
						border: 3px solid #f4791e;
					}
				}
			}
		}

		.contact-info {
			.flex {
				display: flex;
				align-items: center;

				div:first-child {
					flex: 1 50%;
					text-align: right;

					.label {
						background-color: #f4791e;
						margin-right: 10px;

					}
				}

				.body {
					flex: 2 50%;
				}

				.body.ssn > span {
					display: inline-block;
					width: 110px;
				}

				.body.ssn > button {
					outline: none;
				}
			}
		}
	}
}

.modal-header {
    background-color: #f4791e;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    color: #fff;

    .close {
    	color: #fff;
    	text-shadow: 0 1px 0 #000;
    	opacity: 0.5;
    }
}

.v-select .selected-tag { color: #555555; font-weight: 300; font-size: 14px; }

.databaseSwitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.databaseSwitch-checkbox {
    display: none;
}
.databaseSwitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #F4791E; border-radius: 20px;
}
.databaseSwitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.databaseSwitch-inner:before, .databaseSwitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.databaseSwitch-inner:before {
    content: "LIVE";
    padding-left: 10px;
    background-color: #F4791E; color: #FFFFFF;
}
.databaseSwitch-inner:after {
    content: "DEV";
    padding-right: 10px;
    background-color: #FFFFFF; color: #F4791E;
    text-align: right;
}
.databaseSwitch-switch {
    display: block; width: 22px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #F4791E; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.databaseSwitch-checkbox:checked + .databaseSwitch-label .databaseSwitch-inner {
    margin-left: 0;
}
.databaseSwitch-checkbox:checked + .databaseSwitch-label .databaseSwitch-switch {
    right: 0px;
}
