<template>
    <div class="modal fade" id="modal-import-contacts" tabindex="-1" role="dialog" aria-labelledby="modal-import-contacts">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-cloud"></i>
                            <i class="far fa-address-book" data-fa-transform="shrink-5 down-1" style="color:#f4791e"></i>
                        </span>
                        Import Contacts
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <!-- Choose Database -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Database:</label>

                            <div class="col-md-6">
                                <div class="databaseSwitch">
                                    <input type="checkbox" class="databaseSwitch-checkbox" id="mydatabaseSwitch" v-model="mydatabaseSwitch">
                                    <label class="databaseSwitch-label" for="mydatabaseSwitch">
                                        <span class="databaseSwitch-inner"></span>
                                        <span class="databaseSwitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Choose CRM -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">CRM:</label>

                            <div class="col-md-6">
                                <select v-model="crmSelect" class="form-control" @change="checkForFiles">
                                    <option value="">-- Select CRM --</option>
                                    <option v-for="crm in crms" v-bind:value="crm.id">
                                        {{ crm.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Upload File -->
                        <div class="form-group" v-if="crmSelect !== ''">
                            <label class="col-md-4 control-label">&nbsp;</label>

                            <div class="col-md-6">
                                <label type="button" class="btn btn-primary btn-upload">
                                    <span>Select New File</span>

                                    <input ref="file" type="file" class="form-control" id="file-upload" name="file" @change.prevent="upload">
                                </label>
                            </div>
                        </div>

                        <!-- Select from Files -->
                        <div class="form-group" v-if="files.length > 0">
                            <label class="col-md-4 control-label">Select a File:</label>

                            <div class="col-md-6">
                                <ul class="file-list">
                                    <li v-for="file in files" class="file">
                                        <span class="name" @click="selectFile(file)">
                                            <i class="far fa-file-excel"></i>
                                            {{ file.name }}
                                        </span>
                                        <span class="size">( {{ file.size | fileSize }} MB )</span>
                                        <span class="created">{{ file.created_at | moment("LLL") }}</span>
                                        <span class="fa-layers fa-fw remove" @click="removeFile(file)">
                                            <i class="fas fa-circle" style="color:Tomato"></i>
                                            <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" v-else-if="crmSelect !== ''">
                            <label class="col-md-4 control-label">Select a File:</label>

                            <div class="col-md-6">
                                <ul class="file-list">
                                    <li>No files have been uploaded for this CRM at this time.</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Choose Client -->
                        <div class="form-group" v-if="fileSelected">
                            <label class="col-md-4 control-label">Client:</label>

                            <div class="col-md-6">
                                <v-select v-model="clientSelect" :options="myClients" @input="getCreatedBy"></v-select>
                            </div>
                        </div>

                        <!-- Choose Created By -->
                        <div class="form-group" v-if="fileSelected && clientSelect.value !== ''">
                            <label class="col-md-4 control-label">Created By:</label>

                            <div class="col-md-6">
                                <select v-model="createdBySelect" class="form-control">
                                    <option value="">-- Select Created By --</option>
                                    <option v-for="client in createdBy" :value="client.id">
                                        {{ client.first_name }} {{ client.last_name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Map the fields -->
                        <div class="form-group" v-if="fileSelected">
                            <div class="col-sm-12 form-group"><center><div class="spacer"></div></center></div>

                            <div class="col-sm-12 form-group">
                                <div class="col-md-4 align-right">
                                    <i class="far fa-angle-double-down"></i>
                                    <strong>Your CSV Fields</strong>
                                    <i class="far fa-angle-double-down"></i>
                                </div>
                                <div class="col-md-4 align-center">
                                    <i class="far fa-angle-double-down"></i>
                                    <strong>Our VFM Fields</strong>
                                    <i class="far fa-angle-double-down"></i>
                                </div>
                                <div class="col-md-4 align-center">
                                    <i class="far fa-angle-double-down"></i>
                                    <strong>Type</strong>
                                    <i class="far fa-angle-double-down"></i>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group"><center><div class="spacer"></div></center></div>

                            <div class="col-sm-12 form-group" v-for="(value, index) in file.headers">
                                <label class="col-md-4 control-label">{{ value }}:</label>
                                <div class="col-md-4">
                                    <v-select v-model="csv_field_options[index]" :options="vfm_field_options" @input="updateType(index, value)"></v-select>
                                </div>
                                <div class="col-md-4">
                                    <select v-model="csv_type_options[index]" class="form-control" :id="getTypeID(value)" style="display:none;"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click.prevent="importContacts">Start Import</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user', 'crms', 'clients'],

        data() {
            return {
                file: {},
                files: [],
                myClients: [],
                createdBy: [],
                field_types: [],
                crmSelect: '',
                clientSelect: { label: '-- Select a Client --', value: '' },
                createdBySelect: '',
                vfm_field_option: 'custom',
                fileSelected: false,
                mydatabaseSwitch: false,
                csv_field_options: {
                    // This is for ACT
                    // 0: { label: 'Custom Data', value: 'custom' },
                    // 1: { label: 'Custom Data', value: 'custom' },
                    // 2: { label: 'First Name', value: 'first_name' },
                    // 3: { label: 'Last Name', value: 'last_name' },
                    // 4: { label: 'Date of Birth', value: 'birthdate' },
                    // 5: { label: 'Date of Birth', value: 'birthdate' },
                    // 6: { label: 'Address', value: 'address' },
                    // 7: { label: 'City', value: 'city' },
                    // 8: { label: 'State', value: 'state' },
                    // 9: { label: 'Zip', value: 'zip' },
                    // 10: { label: 'Email', value: 'email' },
                    // 11: { label: 'Email', value: 'email' },
                    // 12: { label: 'Phone', value: 'phone' },
                    // 13: { label: 'Phone', value: 'phone' },
                    // 14: { label: 'Custom Data', value: 'custom' },
                    // 15: { label: 'Custom Data', value: 'custom' },
                    // 16: { label: 'Custom Data', value: 'custom' },
                    // 17: { label: 'Custom Data', value: 'custom' },
                    // 18: { label: 'Custom Data', value: 'custom' },
                    // 19: { label: 'Custom Data', value: 'custom' },
                    // 20: { label: 'Custom Data', value: 'custom' },
                    // 21: { label: 'Source', value: 'source' },
                    // 22: { label: 'Social Security Number', value: 'ssn' },
                    // 23: { label: 'Custom Data', value: 'custom' },
                    // 24: { label: 'Do Not Import', value: 'noooooo' },
                    // 25: { label: 'Do Not Import', value: 'noooooo' },
                    // 26: { label: 'Custom Data', value: 'custom' },
                    // 27: { label: 'Social Security Number', value: 'ssn' },
                    // 28: { label: 'Email', value: 'email' },
                    // 29: { label: 'Phone', value: 'phone' },
                    0: { label: '-- Select VFM Field --', value: '' },
                    1: { label: '-- Select VFM Field --', value: '' },
                    2: { label: '-- Select VFM Field --', value: '' },
                    3: { label: '-- Select VFM Field --', value: '' },
                    4: { label: '-- Select VFM Field --', value: '' },
                    5: { label: '-- Select VFM Field --', value: '' },
                    6: { label: '-- Select VFM Field --', value: '' },
                    7: { label: '-- Select VFM Field --', value: '' },
                    8: { label: '-- Select VFM Field --', value: '' },
                    9: { label: '-- Select VFM Field --', value: '' },
                    10: { label: '-- Select VFM Field --', value: '' },
                    11: { label: '-- Select VFM Field --', value: '' },
                    12: { label: '-- Select VFM Field --', value: '' },
                    13: { label: '-- Select VFM Field --', value: '' },
                    14: { label: '-- Select VFM Field --', value: '' },
                    15: { label: '-- Select VFM Field --', value: '' },
                    16: { label: '-- Select VFM Field --', value: '' },
                    17: { label: '-- Select VFM Field --', value: '' },
                    18: { label: '-- Select VFM Field --', value: '' },
                    19: { label: '-- Select VFM Field --', value: '' },
                    20: { label: '-- Select VFM Field --', value: '' },
                    21: { label: '-- Select VFM Field --', value: '' },
                    22: { label: '-- Select VFM Field --', value: '' },
                    23: { label: '-- Select VFM Field --', value: '' },
                    24: { label: '-- Select VFM Field --', value: '' },
                    25: { label: '-- Select VFM Field --', value: '' },
                    26: { label: '-- Select VFM Field --', value: '' },
                    27: { label: '-- Select VFM Field --', value: '' },
                    28: { label: '-- Select VFM Field --', value: '' },
                    29: { label: '-- Select VFM Field --', value: '' },
                    30: { label: '-- Select VFM Field --', value: '' },
                    31: { label: '-- Select VFM Field --', value: '' },
                    32: { label: '-- Select VFM Field --', value: '' },
                    33: { label: '-- Select VFM Field --', value: '' },
                    34: { label: '-- Select VFM Field --', value: '' },
                    35: { label: '-- Select VFM Field --', value: '' },
                    36: { label: '-- Select VFM Field --', value: '' },
                    37: { label: '-- Select VFM Field --', value: '' },
                    38: { label: '-- Select VFM Field --', value: '' },
                    39: { label: '-- Select VFM Field --', value: '' },
                    40: { label: '-- Select VFM Field --', value: '' },
                    41: { label: '-- Select VFM Field --', value: '' },
                    42: { label: '-- Select VFM Field --', value: '' },
                    43: { label: '-- Select VFM Field --', value: '' },
                    44: { label: '-- Select VFM Field --', value: '' },
                    45: { label: '-- Select VFM Field --', value: '' },
                    46: { label: '-- Select VFM Field --', value: '' },
                    47: { label: '-- Select VFM Field --', value: '' },
                    48: { label: '-- Select VFM Field --', value: '' },
                    49: { label: '-- Select VFM Field --', value: '' },
                    50: { label: '-- Select VFM Field --', value: '' },
                    51: { label: '-- Select VFM Field --', value: '' },
                    52: { label: '-- Select VFM Field --', value: '' },
                    53: { label: '-- Select VFM Field --', value: '' },
                    54: { label: '-- Select VFM Field --', value: '' },
                    55: { label: '-- Select VFM Field --', value: '' },
                    56: { label: '-- Select VFM Field --', value: '' },
                    57: { label: '-- Select VFM Field --', value: '' },
                    58: { label: '-- Select VFM Field --', value: '' },
                    59: { label: '-- Select VFM Field --', value: '' },
                    60: { label: '-- Select VFM Field --', value: '' },
                    61: { label: '-- Select VFM Field --', value: '' },
                    62: { label: '-- Select VFM Field --', value: '' },
                    63: { label: '-- Select VFM Field --', value: '' },
                    64: { label: '-- Select VFM Field --', value: '' },
                    65: { label: '-- Select VFM Field --', value: '' },
                    66: { label: '-- Select VFM Field --', value: '' },
                    67: { label: '-- Select VFM Field --', value: '' },
                    68: { label: '-- Select VFM Field --', value: '' },
                    69: { label: '-- Select VFM Field --', value: '' },
                    70: { label: '-- Select VFM Field --', value: '' },
                    71: { label: '-- Select VFM Field --', value: '' },
                    72: { label: '-- Select VFM Field --', value: '' },
                    73: { label: '-- Select VFM Field --', value: '' },
                    74: { label: '-- Select VFM Field --', value: '' },
                    75: { label: '-- Select VFM Field --', value: '' },
                    76: { label: '-- Select VFM Field --', value: '' },
                    77: { label: '-- Select VFM Field --', value: '' },
                    78: { label: '-- Select VFM Field --', value: '' },
                    79: { label: '-- Select VFM Field --', value: '' },
                    80: { label: '-- Select VFM Field --', value: '' },
                    81: { label: '-- Select VFM Field --', value: '' },
                    82: { label: '-- Select VFM Field --', value: '' },
                    83: { label: '-- Select VFM Field --', value: '' },
                    84: { label: '-- Select VFM Field --', value: '' },
                    85: { label: '-- Select VFM Field --', value: '' },
                    86: { label: '-- Select VFM Field --', value: '' },
                    87: { label: '-- Select VFM Field --', value: '' },
                    88: { label: '-- Select VFM Field --', value: '' },
                    89: { label: '-- Select VFM Field --', value: '' },
                    90: { label: '-- Select VFM Field --', value: '' },
                    91: { label: '-- Select VFM Field --', value: '' },
                    92: { label: '-- Select VFM Field --', value: '' },
                    93: { label: '-- Select VFM Field --', value: '' },
                    94: { label: '-- Select VFM Field --', value: '' },
                    95: { label: '-- Select VFM Field --', value: '' },
                    96: { label: '-- Select VFM Field --', value: '' },
                    97: { label: '-- Select VFM Field --', value: '' },
                    98: { label: '-- Select VFM Field --', value: '' },
                    99: { label: '-- Select VFM Field --', value: '' },
                    100: { label: '-- Select VFM Field --', value: '' }
                },
                csv_type_options: {
                    // This is for ACT
                    // 0: { text: 'Text Field', value: 'Text Field' },
                    // 1: { text: 'Text Field', value: 'Text Field' },
                    // 2: { text: 'Text Field', value: 'Text Field' },
                    // 3: { text: 'Text Field', value: 'Text Field' },
                    // 4: { text: 'Text Field', value: 'Text Field' },
                    // 5: { text: 'Text Field', value: 'Text Field' },
                    // 6: { text: 'Text Field', value: 'Text Field' },
                    // 7: { text: 'Text Field', value: 'Text Field' },
                    // 8: { text: 'Text Field', value: 'Text Field' },
                    // 9: { text: 'Text Field', value: 'Text Field' },
                    // 10: { text: 'Text Field', value: 'Text Field' },
                    // 11: { text: 'Text Field', value: 'Text Field' },
                    // 12: { text: 'Text Field', value: 'Text Field' },
                    // 13: { text: 'Text Field', value: 'Text Field' },
                    // 14: { text: 'Text Field', value: 'Text Field' },
                    // 15: { text: 'Text Field', value: 'Text Field' },
                    // 16: { text: 'Text Field', value: 'Text Field' },
                    // 17: { text: 'Date Field', value: 'Date Field' },
                    // 18: { text: 'Text Field', value: 'Text Field' },
                    // 19: { text: 'Date Field', value: 'Date Field' },
                    // 20: { text: 'Email Field', value: 'Email Field' },
                    // 21: { text: 'Text Field', value: 'Text Field' },
                    // 22: { text: 'Text Field', value: 'Text Field' },
                    // 23: { text: 'Phone Field', value: 'Phone Field' },
                    // 24: { text: 'Text Field', value: 'Text Field' },
                    // 25: { text: 'Text Field', value: 'Text Field' },
                    // 26: { text: 'Text Field', value: 'Text Field' },
                    // 27: { text: 'Text Field', value: 'Text Field' },
                    // 28: { text: 'Text Field', value: 'Text Field' },
                    // 29: { text: 'Text Field', value: 'Text Field' },
                    0: { text: 'Text Field', value: 'Text Field' },
                    1: { text: 'Text Field', value: 'Text Field' },
                    2: { text: 'Text Field', value: 'Text Field' },
                    3: { text: 'Text Field', value: 'Text Field' },
                    4: { text: 'Text Field', value: 'Text Field' },
                    5: { text: 'Text Field', value: 'Text Field' },
                    6: { text: 'Text Field', value: 'Text Field' },
                    7: { text: 'Text Field', value: 'Text Field' },
                    8: { text: 'Text Field', value: 'Text Field' },
                    9: { text: 'Text Field', value: 'Text Field' },
                    10: { text: 'Text Field', value: 'Text Field' },
                    11: { text: 'Text Field', value: 'Text Field' },
                    12: { text: 'Text Field', value: 'Text Field' },
                    13: { text: 'Text Field', value: 'Text Field' },
                    14: { text: 'Text Field', value: 'Text Field' },
                    15: { text: 'Text Field', value: 'Text Field' },
                    16: { text: 'Text Field', value: 'Text Field' },
                    17: { text: 'Text Field', value: 'Text Field' },
                    18: { text: 'Text Field', value: 'Text Field' },
                    19: { text: 'Text Field', value: 'Text Field' },
                    20: { text: 'Text Field', value: 'Text Field' },
                    21: { text: 'Text Field', value: 'Text Field' },
                    22: { text: 'Text Field', value: 'Text Field' },
                    23: { text: 'Text Field', value: 'Text Field' },
                    24: { text: 'Text Field', value: 'Text Field' },
                    25: { text: 'Text Field', value: 'Text Field' },
                    26: { text: 'Text Field', value: 'Text Field' },
                    27: { text: 'Text Field', value: 'Text Field' },
                    28: { text: 'Text Field', value: 'Text Field' },
                    29: { text: 'Text Field', value: 'Text Field' },
                    30: { text: 'Text Field', value: 'Text Field' },
                    31: { text: 'Text Field', value: 'Text Field' },
                    32: { text: 'Text Field', value: 'Text Field' },
                    33: { text: 'Text Field', value: 'Text Field' },
                    34: { text: 'Text Field', value: 'Text Field' },
                    35: { text: 'Text Field', value: 'Text Field' },
                    36: { text: 'Text Field', value: 'Text Field' },
                    37: { text: 'Text Field', value: 'Text Field' },
                    38: { text: 'Text Field', value: 'Text Field' },
                    39: { text: 'Text Field', value: 'Text Field' },
                    40: { text: 'Text Field', value: 'Text Field' },
                    41: { text: 'Text Field', value: 'Text Field' },
                    42: { text: 'Text Field', value: 'Text Field' },
                    43: { text: 'Text Field', value: 'Text Field' },
                    44: { text: 'Text Field', value: 'Text Field' },
                    45: { text: 'Text Field', value: 'Text Field' },
                    46: { text: 'Text Field', value: 'Text Field' },
                    47: { text: 'Text Field', value: 'Text Field' },
                    48: { text: 'Text Field', value: 'Text Field' },
                    49: { text: 'Text Field', value: 'Text Field' },
                    50: { text: 'Text Field', value: 'Text Field' },
                    51: { text: 'Text Field', value: 'Text Field' },
                    52: { text: 'Text Field', value: 'Text Field' },
                    53: { text: 'Text Field', value: 'Text Field' },
                    54: { text: 'Text Field', value: 'Text Field' },
                    55: { text: 'Text Field', value: 'Text Field' },
                    56: { text: 'Text Field', value: 'Text Field' },
                    57: { text: 'Text Field', value: 'Text Field' },
                    58: { text: 'Text Field', value: 'Text Field' },
                    59: { text: 'Text Field', value: 'Text Field' },
                    60: { text: 'Text Field', value: 'Text Field' },
                    61: { text: 'Text Field', value: 'Text Field' },
                    62: { text: 'Text Field', value: 'Text Field' },
                    63: { text: 'Text Field', value: 'Text Field' },
                    64: { text: 'Text Field', value: 'Text Field' },
                    65: { text: 'Text Field', value: 'Text Field' },
                    66: { text: 'Text Field', value: 'Text Field' },
                    67: { text: 'Text Field', value: 'Text Field' },
                    68: { text: 'Text Field', value: 'Text Field' },
                    69: { text: 'Text Field', value: 'Text Field' },
                    70: { text: 'Text Field', value: 'Text Field' },
                    71: { text: 'Text Field', value: 'Text Field' },
                    72: { text: 'Text Field', value: 'Text Field' },
                    73: { text: 'Text Field', value: 'Text Field' },
                    74: { text: 'Text Field', value: 'Text Field' },
                    75: { text: 'Text Field', value: 'Text Field' },
                    76: { text: 'Text Field', value: 'Text Field' },
                    77: { text: 'Text Field', value: 'Text Field' },
                    78: { text: 'Text Field', value: 'Text Field' },
                    79: { text: 'Text Field', value: 'Text Field' },
                    80: { text: 'Text Field', value: 'Text Field' },
                    81: { text: 'Text Field', value: 'Text Field' },
                    82: { text: 'Text Field', value: 'Text Field' },
                    83: { text: 'Text Field', value: 'Text Field' },
                    84: { text: 'Text Field', value: 'Text Field' },
                    85: { text: 'Text Field', value: 'Text Field' },
                    86: { text: 'Text Field', value: 'Text Field' },
                    87: { text: 'Text Field', value: 'Text Field' },
                    88: { text: 'Text Field', value: 'Text Field' },
                    89: { text: 'Text Field', value: 'Text Field' },
                    90: { text: 'Text Field', value: 'Text Field' },
                    91: { text: 'Text Field', value: 'Text Field' },
                    92: { text: 'Text Field', value: 'Text Field' },
                    93: { text: 'Text Field', value: 'Text Field' },
                    94: { text: 'Text Field', value: 'Text Field' },
                    95: { text: 'Text Field', value: 'Text Field' },
                    96: { text: 'Text Field', value: 'Text Field' },
                    97: { text: 'Text Field', value: 'Text Field' },
                    98: { text: 'Text Field', value: 'Text Field' },
                    99: { text: 'Text Field', value: 'Text Field' },
                    100: { text: 'Text Field', value: 'Text Field' }
                },
                data: new FormData(),
                vfm_field_options: [
                    { label: '-- Select VFM Field --', value: '' },
                    { label: 'Do Not Import', value: 'noooooo' },
                    { label: 'Classification', value: 'classification' },
                    { label: 'Rating', value: 'rating' },
                    { label: 'Status', value: 'status' },
                    { label: 'Prefix', value: 'prefix' },
                    { label: 'First Name', value: 'first_name' },
                    { label: 'Middle Name', value: 'middle_name' },
                    { label: 'Last Name', value: 'last_name' },
                    { label: 'Suffix', value: 'suffix' },
                    { label: 'Alternate Name', value: 'alternate_name' },
                    { label: 'Maiden Name', value: 'maiden_name' },
                    { label: 'Brief Description', value: 'brief_description' },
                    { label: 'Occupation Title', value: 'occupation_title' },
                    { label: 'Occupation Company', value: 'occupation_company' },
                    { label: 'Occupation Start', value: 'occupation_start' },
                    { label: 'Occupation End', value: 'occupation_end' },
                    { label: 'Salary', value: 'salary' },
                    { label: 'Note', value: 'note' },
                    { label: 'Date of Birth', value: 'birthdate' },
                    { label: 'Birth Place', value: 'birthplace' },
                    { label: 'Date of Death', value: 'date_of_death' },
                    { label: 'Gender', value: 'gender' },
                    { label: 'Citizenship Country', value: 'citizenship_country' },
                    { label: 'Ethnicity', value: 'ethnicity' },
                    { label: 'Marital Status', value: 'marital_status' },
                    { label: 'Anniversary Date', value: 'anniversary_date' },
                    { label: 'Retirement Status', value: 'retirement_status' },
                    { label: 'Retirement Date', value: 'retirement_date' },
                    { label: 'Tax ID Number', value: 'tax_id_number' },
                    { label: 'Drivers License Number', value: 'dl_number' },
                    { label: 'Drivers License State', value: 'dl_state' },
                    { label: 'Drivers License Expiration Date', value: 'dl_expiration_date' },
                    { label: 'Source', value: 'source' },
                    { label: 'Client Start Date', value: 'client_timestamp' },
                    { label: 'Record Timestamp', value: 'record_timestamp' },
                    { label: 'Social Security Number', value: 'ssn' },
                    { label: 'Phone', value: 'phone' },
                    { label: 'Email', value: 'email' },
                    { label: 'Address', value: 'address' },
                    { label: 'Address Line 2', value: 'address2' },
                    { label: 'City', value: 'city' },
                    { label: 'State', value: 'state' },
                    { label: 'Zip', value: 'zip' },
                    { label: 'General Tag', value: 'general_tag' },
                    { label: 'Interest Tag', value: 'interest_tag' },
                    { label: 'Custom Data', value: 'custom' },
                ],
                custom_types: [
                    { text: 'Text Field', value: 'Text Field' },
                    { text: 'Phone Field', value: 'Phone Field' },
                    { text: 'Email Field', value: 'Email Field' },
                    { text: 'Date Field', value: 'Date Field' },
                    { text: 'Textarea Field', value: 'Textarea Field' },
                    { text: 'Dropdown List', value: 'Dropdown List' }
                ]
            }
        },

        created() {
            this.listenForImportNotifications();
        },

        mounted() {
            var allClients = this.clients;
            var newArray = [];
            for (var i = 0; i < allClients.length; i++) {
                if (allClients[i].business_name) {
                    var full_name = allClients[i].first_name+' '+allClients[i].last_name+' ('+allClients[i].business_name+')';
                } else {
                    var full_name = allClients[i].first_name+' '+allClients[i].last_name;
                }
                newArray.push({'label': full_name, 'value': allClients[i].id});
            }
            this.myClients = newArray;
            // var myDropzone = new Dropzone("div#my-awesome-dropzone", { url: "/imports"});
        },

        methods: {
            resetData() {
                this.file = {};
                this.files = [];
                this.fileSelected = false;
                this.data = new FormData();
                if (document.getElementById('file-upload'))
                    document.getElementById('file-upload').value = '';
            },

            checkForFiles() {
                var self = this;

                this.resetData();

                if (this.crmSelect != '') {
                    axios.get('/imports/'+this.crmSelect+'/show_all_CRM_files')
                        .then(function (response) {
                            if (response.data.success) {
                                if (response.data.files.length > 0) {
                                    for (var i = 0; i < response.data.files.length; i++) {
                                        self.files.push(response.data.files[i]);
                                    }
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log('error', error);
                        });
                }
            },

            upload() {
                var self = this;

                axios.post('/imports/file_import', this.gatherFormData())
                    .then(function (response) {
                        if (response.data.success) {
                            if (response.data.files.length > 0) {
                                self.resetData();
                                for (var i = 0; i < response.data.files.length; i++) {
                                    self.files.push(response.data.files[i]);
                                }
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log('error', error);
                    });
            },

            /**
             * Gather the form data for the file upload.
             */
            gatherFormData() {
                this.data = new FormData();

                this.data.append('file', this.$refs.file.files[0]);
                this.data.append('crm', this.crmSelect);

                return this.data;
            },

            getCreatedBy() {
                var self = this;
                if (this.clientSelect.value !== '') {
                    axios.get('/clients/'+this.clientSelect.value+'/get_account_users')
                        .then(function (response) {
                            if (response.data.success) {
                                self.createdBy = response.data.users;
                            }
                        })
                        .catch(function (error) {
                            console.log('error', error);
                        });
                }
            },

            getID(value) {
                return value.toLowerCase().replace(' ', '_');
            },

            getTypeID(value) {
                return value.toLowerCase().replace(' ', '_') + '-type';
            },

            updateType(index, value) {
                var self = this;
                var type = document.getElementById(this.getTypeID(value));

                function createOption(el, value, text) {
                    var opt = document.createElement('option');
                    opt.innerHTML = text;
                    opt.value = value;
                    el.appendChild(opt);
                }

                if (this.csv_field_options[index].value !== '') {
                    if (this.csv_field_options[index].value === 'custom') {
                        type.style.display = 'block';
                        type.innerHTML = '';
                        for (var i = 0; i < this.custom_types.length; i++) {
                            createOption(type, this.custom_types[i].value, this.custom_types[i].text);

                        }
                        this.csv_type_options[index] = this.custom_types[0].value;
                    } else if (this.csv_field_options[index].value === 'phone' || this.csv_field_options[index].value === 'email' || this.csv_field_options[index].value === 'address') {
                        type.style.display = 'block';
                        type.innerHTML = '';
                        axios.get('/imports/'+this.csv_field_options[index].value+'/get_field_types')
                            .then(function (response) {
                                if (response.data.success) {
                                    for (var i = 0; i < response.data.fields.length; i++) {
                                        createOption(type, response.data.fields[i].value, response.data.fields[i].text);
                                    }
                                    self.csv_type_options[index] = response.data.fields[0].value;
                                }
                            })
                            .catch(function (error) {
                                console.log('error', error);
                            });
                    } else {
                        type.style.display = 'none';
                    }
                }
            },

            selectFile(file) {
                this.file = file;
                this.fileSelected = true;
            },

            removeFile(file) {
                var self = this;
                this.data = new FormData();
                this.data.append('file_id', file.id);
                axios.post('/imports/remove_file', this.data)
                    .then(function (response) {
                        if (response.data.success) {
                            self.resetData();
                            self.files = response.data.files;
                        }
                    })
                    .catch(function (error) {
                        console.log('error', error);
                    });
            },

            importContacts() {
                var self = this;
                if (! this.mydatabaseSwitch) {
                    axios.post('/imports/import_contacts', this.gatherMappedData())
                        .then(function (response) {
                            if (response.data.success) {
                                self.resetData();
                                $('#modal-import-contacts').modal('hide');
                                flash('<div>Hello '+response.data.name+',</div><div>'+response.data.contacts_count+' contacts have started importing for '+response.data.client_name+'! We will alert you when the import has finished.</div>', 'success', true);
                            }
                        })
                        .catch(function (error) {
                            console.log('error', error);
                        });
                } else {
                    //
                }
            },

            listenForImportNotifications() {
                Echo.private(`App.User.${this.user.id}`)
                    .notification((notification) => {
                        if (notification.type === "App\\Notifications\\ImportComplete") {
                            flash(notification.message, notification.level, notification.hide);
                        }
                    });
            },

            gatherMappedData() {
                this.data = new FormData();

                this.data.append('client_id', this.clientSelect.value);
                this.data.append('created_by', this.createdBySelect);
                this.data.append('file_id', this.file.id);

                var headers = this.file.headers;
                for (var i = 0; i < headers.length; i++) {
                    var type = document.getElementById(this.getTypeID(headers[i]));
                    this.data.append(headers[i], this.csv_field_options[i].value);
                    if (this.csv_field_options[i].value === 'custom' || this.csv_field_options[i].value === 'phone' || this.csv_field_options[i].value === 'email' || this.csv_field_options[i].value === 'address') {
                        this.data.append(headers[i]+'-type', type.value);
                    } else {
                        this.data.append(headers[i]+'-type', '');
                    }
                }

                return this.data;
            }
        },

        filters: {
            fileSize(value) {
                return (value / 1024 / 1024).toFixed(2)
            },
        }
    }
</script>

<style>
    ul.file-list { list-style: none; margin: 0; padding-top: 7px; padding-left: 0; }
    .name { color: #f4791e; cursor: pointer; }
    .spacer { border-top: 1px solid #f4791e; margin-left: 25px; }
    .align-right { text-align: right; }
    .align-center { text-align: center; }
    .remove { cursor: pointer; }
    .v-select .dropdown-toggle { position: relative; }
    .v-select .selected-tag { position: absolute; }
</style>
